

    <div id = "footer" style = " position : relative; height : 200px; width : 100%; background-color : black">

        <span style = "position : absolute; margin : 30px 0px 0px 300px">
           <h4 style = " margin-top: 110px; position : absolute; margin-left : 200px">&copy; 2018</h4>
           <img src = "/Images/ImageForFooter/facebook.png" style = "position : absolute; height : 30px; width : 45px; margin : 50px 0px 0px 375px"></img>
           <img src = "/Images/ImageForFooter/instagram.png" style = "position : absolute; height : 30px; width : 45px; margin : 50px 0px 0px 430px"></img>
           <img src = "/Images/ImageForFooter/twiter.jpg" style = "position : absolute; height : 30px; width : 45px; margin : 50px 0px 0px 485px"></img>
           <img src = "/Images/ImageForFooter/wassapIcon.jpg" style = "position : absolute; height : 30px; width : 45px; margin : 50px 0px 0px 550px"></img>

         </span>
    </div>
