<!DOCTYPE html>
<html>

  <head>

      <link rel = "stylesheet" type = "text/css" href = "/css/header.css">
      <link rel = "stylesheet" type = "text/css" href = "/css/footer.css">
      <link rel = "styleshee" href = "/css/{{style}}">
      <title> {{title}} </title>
  </head>

  <body id = "majestyman">

    {{{body}}}

<script src = "/jquery/jquery-min.js"></script>
<script src = "/javascripts/header.js"></script>
<script src = "/javascripts/{{script}}"></script>
  </body>
</html>
