{{> header}}
<main>
   <section>
        <div id = "firstHomeDiv">

            <div id = "divRegister">

                <span id = "span" style = "position : absolute; margin : 0px 0px 0px 0px ">

                    <form id = "formRegistration">

                        <label for = "name" style = "float : left; position : relative; margin : 32px 0px 0px 10px">Name**</label>

                        <input type = "text" placeholder = "Enter your name" id = "name" style = "height : 28px; margin: 24px 0px 0px 39px; width : 250px; border-radius : 10px; position :relative"></input>
                        <br>

                        <label for = "userName" style = "float : left; position : relative; margin : 39px 0px 0px 10px ">UserName**</label>

                        <input type = "text" placeholder = "Enter Your UserName" id = "userName" style = "height : 30px; margin : 30px 0px 0px 10px; width : 250px; border-radius : 10px; position : relative"></input>

                        <br>

                        <label for = "password" style = "float : left; position : relative; margin : 41px 0px 0px 10px">Password**</label>

                        <input type = "text" placeholder = "Enter your password" id = "password" style = "height : 28px; margin: 31px 0px 0px 19px; width : 250px; border-radius : 10px; position :relative"></input>
                        <br>

                        <label for = "contact" style = "float : left; position : relative; margin : 40px 0px 0px 10px ">contact**</label>

                        <input type = "text" placeholder = "Enter Your contact" id = "contact" style = "height : 30px; margin : 29px 0px 0px 33px; width : 250px; border-radius : 10px; position : relative"></input>

                        <label id = "gender" style = " margin : 89px 0px 0px -350px; position : absolute; font-size : 17px">Gander**</label>

                        <label for = "maleRadio" id = "MaleRadio" style = " margin : 90px 0px 0px -247px; position : absolute">Male:</label>

                        <input type = "radio" id = "maleRadio" name = "male" style = " margin : 90px 0px 0px -209px; position : absolute;height : 20px; width : 20px"></input>

                        <label for = "femaleRadio" id = "femaleRadio" style = " margin :  90px 0px 0px -178px; position : absolute">Female:</label>

                        <input type = "radio" id = "femaleRadio" name = "male" style = " margin : 90px 0px 0px -125px; position : absolute;height : 20px; width : 20px"></input>

                        <label for = "inputForDate" style = "position : absolute; margin : -157px 0px 0px 70px; border-radius : 10px;">Date**</label>

    									 	<input type = "date" id = "inputForDate" style = "position : absolute; height : 30px; width : 250px; margin : -163px 0px 0px 179px; border-radius : 10px"></input>

                        <label for = "countryOption" style = "position : absolute; margin : -100px 0px 0px 70px;">Country**</label>

    										<select id = "countryOption" style = "position : absolute; height : 30px; width :250px; margin : -107px 0px 0px 183px; border-radius : 10px;">

                            	<option>Germany</option>
    													<option>USA</option>
    													<option>Britain</option>
    													<option>Japan</option>
    													<option>China</option>
    													<option>Russia</option>
    													<option>North Korea</option>
    													<option>Israel</option>
    													<option>Nigeria</option>
    													<option>Brazil</option>
    													<option>Turkey</option>
    													<option>Ghana</option>
    													<option>India</option>
    													<option>Morocco</option>
    													<option>Egypt</option>
    													<option>South Africa</option>

    												</select>
                              <button id = "buttonLogin" type = "submit" style = "margin :84px 0px 0px -94px; height: 25px; width : 87px; border-radius : 10px; border: 2px solid black; 	background-color : white; position : absolute">Register>></button>
                    </form>
               </span>
            </div>
        </div>
    </section>
</main>
       <div id = "secondHomeDive"></div>
       <div id = "ThirdHomeDiv"></div>
  {{> footer}}
