

		{{> header}}

		<main>
			 <section>
			   <div id = "majesty">

							<span id = "Home">Home</span>

							<span id = "Event">Event</span>

							<span id = "About">About</span>

							<span id = "Menu">Menu</span>

							<span style = "position : absolute; margin : 20px 0px 0px 797px; padding : 0px 0px 0px 15px">

									<form id "MyForm">

											<label for = "LoginUserName" id = "LoginUser">UserName:</label>

											<input type = "text" id = "LoginUserName" placeholder = "UserName" style = "height : 31px; width : 250px; padding : 0px 0px 0px 5px; font-size : 15px; font-family:Lucida Console"></input>

											<h5 id = "UserNameError" style = "position : absolute; margin : 2px 0px 0px 19px; font-weight : bolder; font-size : 17px"></h5>

											<label for = "Email" id = "email" style = " margin-top : 25px">Password:</label>

											<input type = "text" id = "LoginEmail" placeholder = "E-mail" style = " height : 31px; width : 250px; padding : 0px 0px 0px 5px;  font-size : 15px; font-family:Lucida Console"></input>

											<h5 id = "PasswordError" style = "position : absolute; margin-top : 2px; margin-left : 15px; font-weight : bolder; font-size : 17px"></h5>

											<button id = "buttonForLogin">LOGIN</button>

									</form>


							</span>

							<span id = "3rdSpan" style  = "position : absolute; height : 140px; width : 100%; margin : 309px 0px 0px 0px; border: none; background: rgba(300, 24, 34, 0.1); z-index: 1000px; box-shadow: 10px 10px 10px -2px #000000;">

									<h3 id = "Yes" style = "position : absolute; margin : 30px 0px 0px 400px; color : white;z-index: 20px">You Can Also Join as an Associate By Registering. </h3>
									<h3 id = "Shift" style = "position : absolute; margin : 50px 0px 0px 417px; color : white; z-index: 20px">this is the British Broadcasting Co-operation.. </h3>
									<button id = "buttonOpenner" style = "position : relative; width : 203px; height : 35px; background-color : orange; margin : 88px 0px 0px 485px;   border-radius: 10px; border-width:3px; border-style:thin; border-color:white">JOIN AS AN ASSOCIATE</button>


							</span>
				</div>

				<div id = "SecondDiv" style = "position : relative; height : 900px; width : 100%; background-color : white ">

								<fieldset id = "fieldset1" style = "margin : 0px 0px 0px 0px; height : 880px" >

										<legend>Register Your Details</legend>

											<form id = "formRegistration">

													<span id = "spanForFirstName" style = "position : absolute; margin : 50px 50px 0px 300px; padding : 0px 0px 0px 0px">

														<label for = "FirstName">FirstName:</label>

														<input type = "text" placeholder = "FirstName" id = "FirstName" style = "height : 42px; width :620px"></input>

													</span>

													<span id = "spanForLastName" style = "position : absolute; margin : 135px 50px 0px 300px; padding : 0px 0px 0px 0px">

												        <label for = "LastName">LastName:</label>

														<input type = "text" placeholder = "LastName" id = "LastName" style = "position : absolute; height : 42px; width :620px"></input>

												    </span>

													<span id = "spanForUserName" style = "position : absolute; margin : 222px 50px 0px 300px; padding : 0px 0px 0px 0px">

														<label for = "UserName">UserName:</label>

														<input type = "text" placeholder = "UserNameInput" id = "UserName" style = "position : absolute; height : 42px; width :620px"></input>

													</span>

													<span id = "spanForEmail" style = "position : absolute; margin : 313px 50px 0px 300px; padding : 0px 0px 0px 0px">

														<label for = "EmailInput">E-mail:</label>

														<input type = "text" placeholder = "E-mail" id = "EmailInput" style = "position : absolute; height : 42px; width :620px"></input>

													</span>

													<span id = "spanForinputPhoneNumber" style = "position : absolute; margin : 408px 50px 0px 300px; padding : 0px 0px 0px 0px">

														<label for = "inputForPhoneNumber">Phone Number:</label>

														<input type = "text" placeholder = "Phone Number" id = "inputForPhoneNumber" style = "position : absolute; height : 42px; width :620px"></input>

													</span>

													<span id = "spanForinputDate" style = "position : absolute; margin : 500px 50px 0px 300px; padding : 0px 0px 0px 0px">

														<label for = "inputForDate">Date:</label>

														<input type = "date" id = "inputForDate" style = "position : absolute; height : 42px; width :620px"></input>

													</span>

													<span id = "spanForcountryOption" style = "position : absolute; margin : 600px 50px 0px 300px; padding : 0px 0px 0px 0px">

														<label for = "countryOption">Select Your Country:</label>

														<select id = "countryOption" style = "position : absolute; height : 42px; width :620px">

															<option>Germany</option>
															<option>USA</option>
															<option>Britain</option>
															<option>Japan</option>
															<option>China</option>
															<option>Russia</option>
															<option>North Korea</option>
															<option>Israel</option>
															<option>Nigeria</option>
															<option>Brazil</option>
															<option>Turkey</option>
															<option>Ghana</option>
															<option>India</option>
															<option>Morocco</option>
															<option>Egypt</option>
															<option>South Africa</option>

														</select>

													</span>


													<span id = "spanForMaleRadioButton" style = "position : absolute; margin : 690px 50px 0px 300px; padding : 0px 0px 0px 0px">

														<label for = "MaleRadioButton">Male:</label>

														<input type = "radio" id = "MaleRadioButton" name = "male" style = "position : absolute; height : 20px; width : 20px"></input>

													</span>

													<span id = "spanForFemaleRadioButton" style = "position : absolute; margin : 690px 50px 0px 350px; padding : 0px 0px 0px 0px">

														<label for = "FemaleRadioButton">Female:</label>

												    	<input type = "radio" id = "FemaleRadioButton" name = "female" style = "position : absolute; height : 20px; width : 20px"></input>

													</span>

													<span id = "spanForanableButton" style = "position : absolute; margin : 750px 50px 0px 300px; padding : 0px 0px 0px 0px">

														<label for = "anableButton">Agree:</label>

														<input type = "checkbox" id = "anableButton" style = "position : absolute; 	height : 22px; width : 22px"></input>

													</span>

													<span id = "spanForfireEventButton" style = "position : absolute; margin : 820px 50px 0px 300px; padding : 0px 0px 0px 0px">

														<button id = "fireEventButton" style = "position : absolute; width : 203px; height : 35px">SUBMIT>></button>

													</span>
										</form>

							</fieldset>





				</div>
								<div id = "forH2H2" style = "position : relative; width : 100%; background-color : white; margin : 0px 0px 0px 0px">

										<span id = "forH2" style = "position : relative; width : 100%; background-color : white; margin : 0px 0px 0px 0px">


											<h2 id = "FirstH2" style = "margin: 40px 0px 0px 290px; font-family: Calibri"> You Are That Person We Have Been Looking For, We Look Forward To </h2>

											<h2 id = "SecondH2" style = "margin: 0px 0px 0px 322px; font-family: Calibri">Inspiring You Through Event, News And Information We Bring</h2>

											<h2 id = "ThirdH2" style = "margin: 0px 0px 0px 365px; font-family: Calibri">To Your Door Step... We Are The Associate Of British</h2>

											<h2 id = "fourthH2" style = "margin: 0px 0px 0px 389px; font-family: Calibri">Broadcasting Co-Operation [BBC]... A Home Of  </h2>

											<h2 id = "FifthH2" style = "margin: 0px 0px 0px 432px; font-family: Calibri">International And Domestic live News</h2>

											<h2 id = "FifthH2" style = "margin: 0px 0px 0px 480px; font-family: Calibri">We Are In Great Britain !!!</h2>

										</span>

								</div>


									<div id = "ForUImage">


									</div>



				<div id = "buttomDiv" style = "position : relative; height : 150px; width : 100%; background-color : white; margin : 15px 0px 0px 0px">

							<span id  = "spanForContact" style = "position : absolute; margin : 5px 0px 0px 503px ">

								<h4 id = "cntactUs" style : "position : absolute; margin : 0px 0px 0px 0px">Locate Us @ </h4>

							</span>


							<span id = "spanForFacebook" style = "position : absolute; margin : 25px 0px 0px 606px">

								<img src = "/Images/ImagesForMenu/facebook.png" style = "height : 30px; width : 45px"></img>

							</span>


							<span id = "spanForWassap" style = "position : absolute; margin : 25px 0px 0px 675px ">

								<img src = "/Images/ImagesForMenu/wassapIcon.jpg" style = "height : 30px; width : 45px"></img>

							</span>


							<span id = "spanForTwiter" style = "position : absolute; margin : 25px 0px 0px 738px">

								<img src = "/Images/ImagesForMenu/twiter.jpg" style = "height : 30px; width : 45px"></img>

							</span>


							<span id = "spanForInstagram" style = "position : absolute; margin : 25px 0px 0px 800px">

								<img src = "/Images/ImagesForMenu/instagram.png" style = "height : 30px; width : 45px"></img>

							</span>

							<span id = "spanForEmail" style = "position : absolute; margin : 20px 0px 0px 503px">

								<h3 id = "ForEmail" style = "position : relative; margin : 47px 0px 0px 0px; ">E-mail: ugochukwu7@gmail.com</h3>

								<h3 id = "ForPhone" style = "position : relative; margin : 10px 0px 0px 69px">Contact: 08136719587</h3>

							</span>
				</div>
			</section>
		</main>
	{{> footer}}
